[build]
builder = "nixpacks"

[deploy]
startCommand = "cd backend && npm run start:prod"
healthcheckPath = "/health"
healthcheckTimeout = 100
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10

